.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-subtitle {
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .home-button {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    background-color: black;
   color: white;
  }